

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

table th, table td {
    padding: 15px 30px;
}

#content {
    padding: 5%;
    color: white;
}

.button {
    background-color: #EEEEEE;
    color: darkblue;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #009879;
    color: white;
}

.card {
    width: 65%;
    color: black;
    background-color: white;
    padding: 10px 20px;
    border-radius: 12px;
    border-top: 5px solid lightgreen;
    margin-bottom: 10px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}